* {
    margin: 0;
    padding: 0;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.navbar-background {
    background-color: aquamarine;
}

.nav-list {
    width: 60%;
    display: flex;
    align-items: center; 
}

.nav-list li {
    list-style: none;
    padding: 25px 25px;
}
 
.nav-list li a {
    font-family: Papyrus, 'Courier-New', 'Times New Roman';
    font-size: large;
    text-decoration: none;
    color: #000;
}
 
.nav-list li a:hover {
    color: grey;
}
 

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 10%;
    height: 10%;
    border-radius: 50px;
}